<html>
<head>
	<title>ABM angular PHP</title>
	  
		<!--?php require_once"partes/referencias.php" ;/**/?-->
		<!--final de Estilos-->    

      <!--script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script-->
       	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="http://www.octavio.com.ar/favicon.ico">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<link rel="stylesheet" type="text/css" href="css/animacion.css">


	<script SRC="bower_components/angular/angular.min.js" TYPE="text/javascript"></script>
 	<script SRC="js/app.js" TYPE="text/javascript"></script>
</head>
<body ng-app="ABMangularPHP" ng-controller="controlAlta">
	<!--?php		
		require_once"partes/barraDeMenu.php";
	 ?-->

 
              <ul class="nav nav-tabs">
		         <li  class="btn btn-info animated bounceInLeft" >
		         	<a href="index.html">
		         		 <span class="glyphicon glyphicon-list-alt">&nbsp;</span>
		         		 Inicio
		         	</a>
		         </li>
		         <li class="btn btn-info animated bounceInLeft" >
		         	<a href="formAlta.html">
		         		<span class="glyphicon glyphicon-plus-sign">&nbsp;</span>
		         		Alta
		         	</a>
		         </li>
		         <li  class="btn btn-info animated bounceInLeft" >
		         	<a href="formGrilla.html"> 
		         		<span class="glyphicon glyphicon-th" >&nbsp;</span>
		         			Grilla</a>
		         		</li>
		        	<span id="tituloBarra"  class="animated bounceInRight">{{DatoTest}}ABM - PHP - Angular Versión 1.0.1 &nbsp;&nbsp;&nbsp;</span>
      </ul>
		

	<div class="container">
		<div class="page-header">
			<center> <h1>Datos {{DatoTest}} {{mascota}}</h1>   </center>     
		</div>
		<div class="CajaInicio animated bounceInRight">
			<h1> <!--?php echo $titulo; ?-->titulo </h1>

			<form id="FormIngreso"  enctype="multipart/form-data" >

				<input type="checkbox" name="ver" value="ver" > ver<br>
				<input ng-if="!ver" type="text" name="nombre" placeholder="ingrese nombre" value="" /> 
				<input type="text" name="apellido" placeholder="ingrese apellido" value="" />
				<input type="number" name="edad" placeholder="edad" value="" />
				<input type="number" name="dni" placeholder="dni" value="" />
				<input type="email" name="email" placeholder="email" value="" />
				<select name="estadocivil">
				  <option value="Soltero">Soltero</option>
				  <option value="Casado">Casado</option>
				  <option value="Viudo">Viudo</option>
				  <option value="Otro">Otro</option>
				</select>
				<input type="date" name="nacimiento" placeholder="nacimiento" value="" />
				<input type="text" name="sexo" placeholder="ingrese sexo" value="" />
				<input type="radio" name="gender" value="male"> Male<br>
				<input type="radio" name="gender" value="female"> Female<br>
				<input type="radio" name="gender" value="other"> Other
				<input type="checkbox" name="C" value="C" > C<br>
				<input type="checkbox" name="C sharp" value="C sharp" > C sharp<br>
				<input type="checkbox" name="VB" value="VB" > VB<br>
				<input type="password" name="clave" placeholder="nacimiento" value="" />
				<input type="password" name="copiaclave" placeholder="nacimiento" value="" />
				<input type="text" name="dni" placeholder="ingrese dni" value=""     /> 
				<p style='color: black;'>*El DNI no se puede modificar.</p> ": "" ; ?>
				
				<input type="hidden" name="idOculto" id="id" value="" />
				<!--
				<input type="file" name="foto" />


				<img  src="fotos/pordefecto.png" class="fotoform" id="foto"/>
				<p style="  color: black;">*La foto se actualiza al guardar.</p>
				-->

				<a class="btn btn-info " name="guardar" ng-if="ver" ng-click="Guardar()" ><span class="glyphicon glyphicon-save">&nbsp;</span>Guardar</a>
					
				<input type="hidden" value="" id="idParaModificar" name="agregar" />
				<input type="hidden" value="" id="hdnAgregar" name="agregar" />
				</div>

			</form>
	</div>
	</div>
</body>
</html>